<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<title>Eat-Da-Burger!</title>
	<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">

	<!-- Fonts
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css" type="text/css"/>

</head>
<body>
	<!-- Primary Page Layout
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	
		<!-- Header
		========================================== -->
  		<header>
  			<div class="container text-center">
  				<div class="row">
  					<div class="col-lg-4 col-lg-offset-4">
  						<img id="headerImg" src="/images/burger.png" alt="Burger">
  						<h1 id="headline">Eat-Da-Burger!</h1>
  					</div>
  				</div>
  			</div>
		</header>

		<!-- Main
		========================================== -->
		<main>
			<body>
				<div class="container">
					<div class="row" id="burgerLists">
						<div class="col-md-5 col-md-offset-1">
						{{{ body }}}
				</div>
			</body>
		</main>

		<!-- Footer
		========================================== -->
		<footer>
		</footer>	
</body>

	<!-- JavaScript
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>


